body { 
  margin: auto; 
  margin-top: auto;
  width: 350px; 
}

h2 {
  font-family: Helvetica;
  text-align: center;
}

tr td:first-child{
  text-align: right;
}

tr td:last-child{
  text-align: left;
}

td {
  font-family: Helvetica;
}

li {
  font-family: Helvetica;
}

p {
  font-family: Sans-serif;
  font-size: 11px
}
